---
import Base from "../layouts/Base.astro";
---

<Base titre="Accueil">
	<nav class="bg-gray-200 h-screen flex items-center justify-center">
        <div class=" w-1/2 bg-white shadow-lg p-8 rounded-lg">
            <h1 class="text-3xl font-bold text-gray-800 mb-4">Accueil</h1>
            <h2 class="text-lg text-gray-900">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis vitae vero autem impedit deserunt eligendi quam aspernatur, harum in a cum ducimus minima non. Impedit excepturi adipisci doloremque maxime non?
            </h2>
        </div>
    </nav>
</Base>

